@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

blockquote.cia-report {
    font-family: "Inconsolata", monospace;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}